@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<style>
    body {
        background-image: url("../../Content/images/sidebyside.jpg");
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-size: cover;
    }
</style>

<center><h1 id="indexheader" style="position:relative;top:50px">Ethos Chronicle</h1></center>
<center><h2 id="indexheader" style="position:relative;top:50px">[Character Stories]</h2></center>
<center><h3 id="indexheader" style="position:relative;top:70px">Passionate about collecting stories for generations to come</h3></center>
