@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ethos Chronicle<br />
    1234 Fake St  |  MKE  |  WI<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong></strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>