
@{
    ViewBag.Title = "HowItWorks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .divSquare {
        width: 48%;
        height: 200px;
        margin: 4px;
        /*border: 1px solid black;*/
        float: left;
    }

    body {
        background-image: url("../../Content/images/airplane.jpg");
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        background-size: cover;
    }
</style>
<center><h2>How It Works</h2></center>
<body>
    <center>
        <div>
            <center>
                <div class="divSquare">
                    <br />
                    <h1>[1]</h1>
                    <h3><bold>Think back to all the good times in life</bold></h3>
                    @*<p>Take a minute to look back, </p>*@
                </div>
            </center>

            <center>
                <div class="divSquare">
                    <br />
                    <h1>[2]</h1>
                    <h3>Record awesome videos retelling those stories</h3>
                    @*<p>3-5 Minute Professionally Edited Video</p>*@
                </div>
            </center>

            <div style='clear:both'></div>
            <center>
                <div class="divSquare">
                    <br />
                    <h1>[3]</h1>
                    <h3>Edit videos</h3>
                    @*<p>5-10 Minute Professionally Edited Video</p>
                    <p>All the raw, unedited footage</p>*@
                </div>
            </center>

            <center>
                <div class="divSquare">
                    <br />
                    <h1>[4]</h1>
                    <h3>Remember the stories</h3>
                    @*<p>5-10 Minute Professionally Edited Video</p>*@
                    @*<p>All the raw, unedited footage</p>
                    <right><p style="position:relative;top:70px"><a class="btn btn-info btn-sm" href="/User/Index">Back to dashboard &raquo;</a></p></right>*@
                </div>
            </center>
        </div>
    </center>

</body>


