
@{
    ViewBag.Title = "Samples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #pushDown {
        margin-bottom: 50px;
    }

</style>
<center><div id="pushDown">    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/BN2ReMpTkIU" frameborder="0" allowfullscreen></iframe>
</div></center>
<center>
    <div id="pushDown">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iRn8p9jZ310" frameborder="0" allowfullscreen></iframe>    </div>
</center>
