@model List<EthosChronicle.ImageGallery>

@{
    ViewBag.Title = "Gallery";
}
<h2>Gallery</h2>
<p>
    @Html.ActionLink("Upload New", "Upload")
</p>
<table>
    @{
        int j = 0;
        for (int i = 0; i < Model.Count(); i += 4)
        {
            j = i;
            <tr>
                @while (j < i + 4 && j < Model.Count())
                {
                    <td id="object[j]">
                        <img src="data:image/png;base64, @Convert.ToBase64String(Model[j].ImageData,0,Model[j].ImageData.Length)" width="100" />
                        @*<a href="path_to_file" download="proposed_file_name">Download</a>*@
                        @*<a @Html.ActionLink("download file", "Download")></a>*@
                        @*<%= Html.ActionLink("download file", "download") %>*@
                    </td>
                    j++;
                }
            </tr>
        }
    }
</table>
            
