@model EthosChronicle.ImageGallery

@{
    ViewBag.Title = "Upload";
}
<style>
    body {
        background-image: url("../../Content/images/IMG_0025.jpg");
        background-repeat: no-repeat;
        /*height: 100%;*/
        /*width: 100%;*/
        background-size: cover;
    }
    #pushDownMore2{
        margin-bottom: 100px;
    }
</style>
<center><h2 id="pushDownMore2">Upload Images and Videos</h2></center>
<br />
<br />
@using (Html.BeginForm("Upload", "ImageGallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <center><table>
        <tr>
            <td>Select File : </td>
            <td>
                @Html.TextBoxFor(Model => Model.File, new { type = "file" })
                @Html.ValidationMessage("CustomError")
            </td>
            <td>
                <input type="submit" value="Upload" />
            </td>
        </tr>
    </table></center>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
