body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.paypal_btn{
display: inline-block;
font-family: inherit;
font-size: 14px;
font-weight: bold;
color: #fff;
text-align: center;
padding: 10px 14px;
margin: 0;
background: #ff6600;
border: 0;
cursor: pointer;
outline: none;
border-radius: 10px;
}
.paypal_btn:hover{ background: #e05c04; }

#container{
 width:990px; //or 100%
}
#left{
 width:500px; 
 float:left;
}
#splitter{
 width:300px; 
 float:left;
}
#right{
 600px;
 float:right;
}
.skillsseperator{
	padding-bottom: 20px;
	border-bottom: 2px solid #3a929c;
}
.image{
	position: relative;
	width: 100%;
}
#img-responsive{
    margin-top: 100px;
}
.image{
	position: relative;
	width: 100%;
}

#aliciabigley{
	font-family: helvetica;
	font-weight: lighter;
	font-size: 5vw;
	color: white;
	position: absolute;
	top: 20vw;
	text-align: center;
	width: 100%;
}

#photodesignsf{
	font-family: helvetica;
	font-weight: lighter;
	font-size: 2vw;
	color: white;
	position: absolute;
	top: 30vw;
	left: o;
	width: 100%;
}

.container{
  margin-top: 70px;
}

.textpadding{
	padding-top: 50px;
}

.skillsseperator{
	padding-bottom: 20px;
	border-bottom: 2px solid #3a929c;
}

.footer {
	padding-top: 7px;
	background-color: rgb(200,200,200);
}

.name{
	padding-right: 15px;
}

.navicon{
	width: 25px;
	height: 25px;
}

a.navbar-brand > img {
	max-height: 28px;
}

.form-group{
	font-size: 15px;
	margin-right: 50px;
}


footer{
	padding-bottom: 10px;
}

.buttonmargin{
	margin-bottom: 40px;
}

