
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url("../../Content/images/Romantic_sunset_MKE_Copy.jpg");
        background-repeat: no-repeat;
        /*height: 100%;*/
        /*width: 100%;*/
        background-size: cover;
    }
</style>
<div class="">

    <center><h2 id="indexheader" style="position:relative;top:110px">Ethos Chronicle</h2></center>
    <center><h3 id="indexheader" style="position:relative;top:110px">[Character Stories]</h3></center>
    <center><h id="center" style="position:relative;top:150px" class="lead">Don't forget the good things from life</h></center>


    <div class="col-md-12" style="position:relative;top:100px">
        <center><p style="position:relative;top:100px"><a class="btn btn-info btn-lg" href="/User/Videographer">Hire a videographer! &raquo;</a></p></center>
    </div>
    <div class="col-md-12" style="position:relative;top:100px">
        <center><p style="position:relative;top:100px"><a class="btn btn-success btn-lg" href="/User/DoItYourself">Do it yourself! &raquo;</a></p></center>
    </div>
</div>
