
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url("../../Content/images/index6.jpg");
        background-repeat: no-repeat;
        /*height: 100%;*/
        /*width: 100%;*/
        background-size: cover;
    }
</style>
<div class="">

    <center><h1 id="indexheader" style="position:relative;top:110px">Ethos Chronicle</h1></center>
    <center><h2 id="indexheader" style="position:relative;top:110px">[Character Stories]</h2></center>
    <center><h3 id="center" style="position:relative;top:150px" class="lead">Don't forget the good stories from life</h3></center>


<div class="col-md-12" style="position:relative;top:100px">
    <center><p style="position:relative;top:100px"><a class="btn btn-success" href="/User/DoItYourself">Do it yourself! &raquo;</a></p></center>
</div>
<div class="col-md-12" style="position:relative;top:100px">
    <center><p style="position:relative;top:100px"><a class="btn btn-info" href="/ImageGallery/Gallery">&laquo;Gallery!</a></p></center>
</div>


</div>
