
@{
    ViewBag.Title = "PricingPackages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center><h2>Package Options</h2></center>
<center><p>Insure your interview has the highest quality look and  feel while sounding sounds great too!</p></center>
<style>
    .divSquare {
        width: 48%;
        height: 200px;
        margin: 4px;
        /*border: 1px solid black;*/
        float: left;
    }

    body {
        background-image: url("../../Content/images/1955.jpg");
        background-repeat: no-repeat;
        /*height: 100%;*/
        /*width: 100%;*/
        background-size: cover;
    }
</style>
<body>
    <center>
        <div>

            <center>
                <div class="divSquare">
                    <br />
                    <h4>Package One</h4>
                    <p>1 Hour Interview</p>
                    <p>2-3 Minute Professionally Edited Video</p>
                    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="SKD4HX424294Q">
                        <input type="submit" value="$300" name="submit" title="PayPal - The safer, easier way to pay online!" class="paypal_btn">
                        @*<a class="btn btn-info btn-lg" href="/User/Videographer">Hire a videographer! &raquo;</a>*@
                        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </center>

            <center>
                <div class="divSquare">
                    <br />
                    <h4>Package Two</h4>
                    <p>2.5 Hour Interview</p>
                    <p>3-5 Minute Professionally Edited Video</p>
                    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="N5HPR45TNTGZS">
                        <input type="submit" value="$700" name="submit" title="PayPal - The safer, easier way to pay online!" class="paypal_btn">
                        @*<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">*@
                        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </center>

            <div style='clear:both'></div>
            <center>
                <div class="divSquare">
                    <br />
                    <h4>Package Two</h4>
                    <p>5 Hour Interview</p>
                    <p>5-10 Minute Professionally Edited Video</p>
                    <p>All the raw, unedited footage</p>
                    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="SSVK92NWNUJQN">
                        <input type="submit" value="$1500" name="submit" title="PayPal - The safer, easier way to pay online!" class="paypal_btn">
                        @*<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">*@
                        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </center>

            <center>
                <div class="divSquare">
                    <br />
                    <h4>Package Two</h4>
                    <p>2- six Hour Interviews</p>
                    <p>5-10 Minute Professionally Edited Video</p>
                    <p>All the raw, unedited footage</p>
                    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="7XVJ6BJ3WFMVA">
                        <input type="submit" value="$3000" name="submit" title="PayPal - The safer, easier way to pay online!" class="paypal_btn">
                        @*<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">*@
                        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <right><p style="position:relative;top:70px"><a class="btn btn-info btn-sm" href="/User/Index">Back to dashboard &raquo;</a></p></right>
                </div>
            </center>
        </div>
    </center>

</body>
