
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .pushdown{
        margin-bottom: 50px
    }
    #pushDownMore{
        margin-top: 100px;
    }
        #pushDownMore2{
        margin-top: 80px;
    }
</style>

<center><h1>Interview Questions</h1></center>
<center><p style="position:relative;top:10px"><a class="btn btn-info btn-xs" href="/User/TipsAndTricks">&laquo;Tips and Tricks!</a></p></center>

@*<center><h3>Here are some questions we use while interviewing </h3></center>*@
@*<center><h5>It's super important that both the interviewee and interviewer are on the same page in terms of questions being asked</h5></center>*@
<br />
<br />
<div class="col-xs-12">
    <div class="col-xs-12 col-sm-6" id="pushdown">
        <img class="img-responsive pushdown" src="../../Content/images/IMG_0023.jpg">
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>General Questions</h2>
        <p>What is your full name?</p>
        <p>What is your birthday?</p>
        <p>How old does the make you?</p>
        <p>What are your parent’s names?</p>
        <p>Where did you grow up?</p>
        <p>How old does the make you?</p>
        <p>What are your parent’s names?</p>
        <p>Where did you grow up?</p>
        <br>
        <h6>Pro tip: Start of easy questions and move on once the interviewee feels comfortable</h6>
        <b />
    </div>
</div>
<br />
<div class="col-xs-12">
    <div class="col-xs-12 col-sm-6">
        <h2>Childhood  Questions</h2>
        <p>What did your parents do for a living?</p>
        <p>How were your parents?(Nice, mean, supportive, checked out/ emotionally void)</p>
        <p>What did you learn from your parents?</p>
        <p>What did you used to do for fun as a child?</p>
        <p>Was your childhood hard?</p>
        <p> Did you struggle through growing up or did you make the most of being a kid?</p>
        <p>Do you have siblings?</p>
        <p>If so, what are their names?</p>
        <p>How was your relationship with them as children?</p>
        <p>How is your relationship with them now?</p>
        <br />
    </div>
    <div class="col-xs-12 col-sm-6">
        <img class="img-responsive pushdown" src="../../Content/images/family_little 2.jpg">
    </div>
</div>
<div class="seperator">
    <div class="col-xs-12 col-sm-6">
        <img class="img-responsive pushdown" id="pushDownMore" src="../../Content/images/IMG_0030.jpg">
    </div>
    <div class="col-xs-12 col-sm-6">
        <h2>Mid-Life Questions</h2>
        <p>Did you go to college?</p>
        <p>If so, what did you go for and how was your experience?</p>
        <p>Are you married? To who?</p>
        <p>How did you meet?</p>
        <p>Do you remember your first date?</p>
        <p>How did he/you propose?</p>
        <p>What is the best thing about your significant other?</p>
        <p>How would life be without them?</p>
        <p>Do you have any kids?</p>
        <p>If so, how many?</p>
        <p>What are their names?</p>
        <p>How was it raising them? (Easy, hard, rewarding?)</p>
        <p>Tell me a story about your kids being younger?</p>
        <p>What made you proud of your kids?</p>
        <br />
    </div>
</div>
<div class="col-xs-12">
    <div class="col-xs-12 col-sm-6">
        <h2>Reflection   Questions</h2>
        <p>Overall how is your life so far?</p>
        <p>What was one of the hardest things you’ve ever done? (This could be mental/physical)</p>
        <p>What are you good at?</p>
        <p>What is one of the most exciting moments of your life?</p>
        <p>What is the happiest moment of your life?</p>
        <p>If you could do one thing over, what would it be?</p>
        <p>What is something you should make time for?</p>
        <p>What is the best advice you have ever received? And who gave it?</p>
        <p>Do you have any advice for your kids?</p>
        <p>Statistically, most people look back on life and realize they have worked too much, loved too little, and wasted time on meaningless things, what do you have to say about that?</p>
        <br />
    </div>
    <div class="col-xs-12 col-sm-6">
        <img class="img-responsive pushdown" id="pushDownMore2" src="../../Content/images/kitchen.jpg">
    </div>
</div>
<a href="../../Content/images/Ethos-QuestionsforInterview.pdf" class="btn btn-info active color" role="button" aria-pressed="true">Download Questions</a>
