
@{
    ViewBag.Title = "TipsAndTricks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Tips And Tricks</h1></center>
<center><h3>Interview Tricks</h3></center>
<br />
<br />
<div class="seperator">
    <div class="col-xs-12 col-sm-6">
        <center><img class="img-responsive pushdown" src="app.jpg"></center>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3>1</h3>
        <h4>Conforable Enviroment</h4>
        <p>A familiar place and a confortable chair is an one way to ease the nerves of the person you are interviewing</p>
        <br />
        <h3>2</h3>
        <h4>Have a cup of water handy</h4>
        <p>Talking during an interview can cause people to become more thirsty. Be prepared.</p>
        <br />
        <h3>3</h3>
        <h4>Be natural</h4>
        <p>Remember you are having a conversation with someone. Just be you, so they can be them.</p>
        <br />
        <br />
    </div>
</div>

<br />
<center><h3>Recording Tips</h3></center>
<div class="row skillsseperator">
    <div class="col-xs-12 col-sm-6">
        <h3>1</h3>
        <h4>Natural Lighting</h4>
        <p>Different lighting can make your video look and feel a specific way.  Given the name, natural lighting looks the most natural. That said, don't place your subject directly in the sun.</p>
        <br />
        <h3>2</h3>
        <h4>Quiet Space</h4>
        <p>Background noise is a thing and will be picked up by your microphone. Turn off or silence phones, appliances, tvs, and any other noisy thing.</p>
        <br />
        <h3>3</h3>
        <h4>Backup gear</h4>
        <p>From time to time your equiptment could have a little hiccup. Plan a head. Bring extra batteries and come up with work arounds for audio or video issues. </p>
    </div>
 </div>

