@model EthosChronicle.Models.VideographerInfo

@{
    ViewBag.Title = "Videographer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Hire A Professional Videographer</h2></center>
<center><p>Insure your interview has the highest quality look and  feel while sounding sounds great too!</p></center>
<style>
    .divSquare {
        width: 48%;
        height: 200px;
        margin: 4px;
        /*border: 1px solid black;*/
        float: left;
    }
        body {
        background-image: url("../../Content/images/1955.jpg");
        background-repeat: no-repeat;
        /*height: 100%;*/
        /*width: 100%;*/
        background-size: cover;
    }
</style>
<body>
<center><div>

    <center>
        <div class="divSquare">
            <br />
            <h3>Package One</h3>
            <h4>$300</h4>
            <p>1 Hour Interview</p>
            <p>2-3 Minute Professionally Edited Video</p>
            <center><p style="position:relative;top:10px"><a class="btn btn-info btn-xs" href="/InterviewInformation/Create">Get Started &raquo;</a></p></center>
        </div>
        <br />
    </center>

    <center>
        <div class="divSquare">
            <br />
            <h3>Package Two</h3>
            <h4>$700</h4>
            <p>2.5 Hour Interview</p>
            <p>3-5 Minute Professionally Edited Video</p>
            <center><p style="position:relative;top:10px"><a class="btn btn-info btn-xs" href="/InterviewInformation/Create">Get Started &raquo;</a></p></center>
        </div>
        <br />
    </center>
</div>
</center>

<div style='clear:both'></div>
    <center>
        <div class="divSquare">
            <br />
            <h3>Package Three</h3>
            <h4>$1500</h4>
            <p>5 Hour Interview</p>
            <p>5-10 Minute Professionally Edited Video</p>
            <p>All the raw, unedited footage</p>
            <center><p style="position:relative;top:10px"><a class="btn btn-info btn-xs" href="/InterviewInformation/Create">Get Started &raquo;</a></p></center>
        </div>
        <br />
    </center>
<center>
    <div class="divSquare">
        <br />
        <h3>Package Four</h3>
        <h4>$3000</h4>
        <p>2- six Hour Interviews</p>
        <p>5-10 Minute Professionally Edited Video</p>
        <p>All the raw, unedited footage</p>
        <center><p style="position:relative;top:10px"><a class="btn btn-info btn-xs" href="/InterviewInformation/Create">Get Started &raquo;</a></p></center>
    </div>
    <br />
</center>
</body>