@model EthosChronicle.Models.VideographerInfo

@{
    ViewBag.Title = "Videographer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HireVideographer</h2>
<p>Blurb about why to hire a videographer</p>
<p>Package Options w/Button</p>
<p>Back to dash button</p>
